
    <div class="ae-grid au-xs-ta-center au-mb-4">

      <div *ngFor="let data of realTime.equipo"
       class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="data.url"  alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">
          {{data.nombre}}
        </h5>
        <p class="ae-u-bolder au-mb-3">
          {{data.subtitulo}}
        </p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
          {{data.frase}}
        </p>
        <a target="_blank" href="https://twitter.com/{{data.Twitter}}" 
        class="ae-u-bolder au-underline">
          {{data.Twitter}}
        </a>
      </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <h4 class="ae-u-bolder au-mt-2">
          ESPECIALIDADES
        </h4>
        <h6 class="ae-u-bolder au-mt-2">
          DESARROLLADOR DE APLICACIONES JAVA
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE INTECAP 2017
        </p>
        <h6 class="ae-u-bolder au-mt-2">
          DESARROLLADOR DE APLICACIONES ANDROID
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE INTECAP 2019
        </p>
        <h6 class="ae-u-bolder au-mt-2">
          DESARROLLADOR DE APLICACIONES PHP
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE UDEMY 2020
        </p>
        <h6 class="ae-u-bolder au-mt-2">
          DESARROLLADOR FRONT-END ANGULAR
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE UDEMY 2020
        </p>
        
        <h6 class="ae-u-bolder au-mt-2">
          DESARROLLADOR INDIE 2D
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADOS DE UDEMY Y DOMESTICA 2020
        </p>
      </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <h4 class="ae-u-bolder au-mt-2">
          OTRAS ESPECIALIDADES
        </h4>
        <h6 class="ae-u-bolder au-mt-2">
          TECNICO EN SISTEMAS INFORMATICOS
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE INTECAP 2016
        </p>
        <h6 class="ae-u-bolder au-mt-2">
          ADMINISTRADOR CISCO CCNET
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE INTECAP 2017
        </p>
        <h6 class="ae-u-bolder au-mt-2">
          ADMINISTRADOR DE BASE DE DATOS ORACLE
        </h6>
        <p class="ae-u-bolder au-mb-3">
          CERTIFICADO DE INTECAP 2018
        </p>
        <h6 class="ae-u-bolder au-mt-2">
          CERTIFICADO EN TÉCNICAS Y ESTRATEGIAS DE
          VENTAS
        </h6>
        <p class="ae-u-bolder au-mb-3">
          UNIVERSIDAD DE OCCIDENTE 2019
        </p>
        
      </div>
    </div>

    
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">PERFIL PROFESIONAL</h6>
        <p class="au-lh-3">Amable, Honesto, Puntual, Disciplinado,
          Sociable, son valores que me describen como
          persona. Responsabilidad, Vocación por el
          servicio y cumplimiento de metas son algunas
          de las palabras que me describen en el
          trabajo. </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">DATOS PERSONALES</h6>
        <p class="au-lh-3">Edad: 24 años. <br>Fecha de nacimiento: 05/05/1996. 
        <br/>CUI: 3001 31801 0101. <br/> Nacionalidad: Guatemalteco.
      </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">REFERENCIAS PERSONALES</h6>
        <p class="au-lh-3">Karla Chinchilla. <br/> TEL: 59780861 </p>
        <p class="au-lh-3">Julio Rene. <br/> TEL: 55852044 </p>
        <p class="au-lh-3">Eugenia Gomez. <br/> TEL:  59866486 </p>
      </div>
    </div>
    
